<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Destinos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Destinos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar placeholder="Buscar" search-icon="search" [(ngModel)]="busqueda">
  </ion-searchbar>
  <!--
  <ion-grid>
    <ion-item>
      <ion-select placeholder="Ordenar" id="numeroOrden" interface="popover" ngClass="fuente" (ionChange)="ordenarPor()">
        <ion-select-option value="0">Normal</ion-select-option>
        <ion-select-option *ngFor="let orden of ordenes" value={{orden.numero}}>{{orden.tipoOrden}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-grid>
  -->
  <ion-grid>
    <ion-list ngClass="lista">
      <app-destino *ngFor="let destino of destinos|buscarDestinos:busqueda" [destino]="destino"></app-destino>
    </ion-list>
  </ion-grid>
</ion-content>